<div class="multiOption">
    <button type="button" class="currentOption" value="all"><i class="fas fa-asterisk"></i></button>
    <div class="optionsContainer">
        <p>Add New</p>
        <hr>
        <div class="options">
            <button type="button" class="allScope" value="all" style="display: none"><i class="fas fa-asterisk"></i><p>All</p></button>
            <button type="button" class="listingsScope" value="listings"><i class="fas fa-map-marked-alt"></i><p>Listings</p></button>
            <button type="button" class="usersScope" value="users"><i class="fas fa-users"></i><p>Users</p></button>
        </div>
    </div>
</div>