NODE_ENV="development"
PORT=3000
MONGO_URL= #Connection URL for your MongoDB
SENDGRID_API_KEY= #SENDGRIP API key to send emails when users register
SESSION_SECRET= #Secret used by express-session to hash sessions