<link rel="stylesheet" href="/css/pages/new/new.css">
<div id="newContainer">
    <span>Add a New Post</span>
    <div id="options">
        <div id="article" onclick="window.location.href='/new/article';">
            <h1>Article</h1>
        </div>
        <div id="listing" onclick="window.location.href='/new/listing';">
            <h1>Listing</h1>
        </div>
        <div id="location" onclick="window.location.href='/new/location';">
            <h1>Location</h1>
        </div>
        <div id="type" onclick="window.location.href='/new/type';">
            <h1>Type</h1>
        </div>
    </div>
</div>