<link rel="stylesheet" href="/css/pages/404.css">
<div class="section404">
    <h1>This Page Isn't Available</h1>
    <p>{{#if error}}{{error}}{{else}}The link may be broken, or the page may have been removed. Check to see if the link you're trying to open is correct.{{/if}}</p>
    <div class="buttons">
        <button type="button" onclick="history.back();">Go Back</button>
        <button type="button" onclick="window.location='/';">Go Home</button>
    </div>
</div>