#userProfile {
    height: 100%;
    margin-top: calc(75px/2);
    margin-bottom: calc(75px/2);
}
#userProfileContainer {
    min-width: 300px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userCard {
    padding: 15px;
    text-align: center;
    display: flex;

    background: rgba(112, 62, 226, 0.3);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 800px;
    max-width: 100%;
}
#userCard > .avatar {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}
#userInfo {
    font-weight: 600;
    padding-left: 15px;
    flex: 1;
    text-align: left;
    overflow: hidden;
}
#userInfo > h1{
    margin: 0;
}
#userInfo > hr {
    margin: 0.5rem 0;
}
#userPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 0px 25px 25px;
    align-items: center;
}

#userPosts {
    display: flex;
    flex-direction: column;
}

#userPosts > #filter {
    display: flex;
}
#filter {
    display: flex;
}

#filter > button {
    background: rgba(112, 112, 112, 0.6);
    backdrop-filter: blur( 4px );

    border: none;
    border-radius: 5px;
    height: 35px;
    color: #dddddd;
    margin-right: 10px;
}
#filter > button:hover {
    border: 1px solid #a0a0a0;
    color: white;
}

.currentPage {
    font-weight: bold;
}
.pagination {
    width: 80%;
}
.pagination > p {
    text-align: right;
}

#userPosts > .article-card {
    margin-bottom: 5px;
}

/*Editing*/

#userInfo > #edit {
    position: absolute;
    right: 15px;

    border-radius: 25px;
    border: none;
    background-color: rgba(1,1,1,0.7);
    color: #949494;
}
#userInfo > #edit:hover {
    color: #735fe7;
}

#editedData {
    display: flex;
    justify-content: flex-end;
}
#editedData > * {
    display: none;
}
#editedData > #avatarLbl {
    position: absolute;
    left: 60px;
    top: 150px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgba(1,1,1,0.5);
    border-radius: 15px;
    font-size: 10px;
    color: #ababab;
}
#editedData > #avatarLbl:hover {
    background-color: rgba(1,1,1,0.6);
    color: #eaeaea;
}

#editedData > #submit{
    border-radius: 25px;
    border: none;
    background-color: rgba(1,1,1,0.7);
    color: #949494;
}
#editedData > #submit:hover{
    background-color: rgba(1,1,1,0.6);
    color: #3ff3ab;
}

.editable {
    border: 2px solid #797979;
    border-radius: 10px;
    background: #2c2d2d;
}